.CollapseToggleButton {
	padding: 0 !important;
	min-width: 0 !important;
	transition: transform 0.2s ease !important;
}

.CollapseToggleButton__sm {
	width: var(--size-6);
	min-width: var(--size-6);
	height: var(--size-6);
	min-height: var(--size-6);
}

.CollapseToggleButton__md {
	width: var(--size-8);
	min-width: var(--size-8);
	height: var(--size-8);
	min-height: var(--size-8);
}

.CollapseToggleButton__lg {
	width: var(--size-9);
	min-width: var(--size-9);
	height: var(--size-9);
	min-height: var(--size-9);
}

.CollapseToggleButton.is_rotated {
	transform: rotate(-90deg);
}