.CollapseToggleButton {
	padding: 0 !important;
	min-width: 0 !important;
	transition: transform 0.2s ease !important;
}

.CollapseToggleButton--sm {
	width: 24px;
	min-width: 24px;
	height: 24px;
	min-height: 24px;
}

.CollapseToggleButton--md {
	width: 32px;
	min-width: 32px;
	height: 32px;
	min-height: 32px;
}

.CollapseToggleButton--lg {
	width: 40px;
	min-width: 40px;
	height: 40px;
	min-height: 40px;
}

.CollapseToggleButton.is-rotated {
	transform: rotate(-90deg);
}
