.EditableField {
	position: relative;
}

.EditableField:hover .EditableField__copy_btn {
	opacity: 1 !important;
}

.EditableField__copy_btn {
	transition: opacity 0.2s ease;
	background: var(--panel) !important;
	border-color: var(--border) !important;
	border-radius: var(--radius-md);
	padding: 0;
	height: var(--size-7);
	width: var(--size-7);
	position: absolute;
	top: var(--space-2);
	right: var(--space-2);
	opacity: 0;
}

.EditableField__copy_btn svg {
	width: 14px;
	height: 14px;
}

.MarkdownView {
	cursor: text;
	padding: var(--space-3) var(--space-3);
	border: 1px solid transparent;
	border-radius: var(--radius-sm);
	background: color-mix(in srgb, var(--accent), transparent 95%);
	min-height: var(--size-9);
	transition: all 0.2s ease;
	line-height: 1.5;
	font-size: 0.95rem;
	overflow-wrap: anywhere;
	white-space: pre-wrap;
	tab-size: 7;
}

.MarkdownView:focus {
	outline: none;
}

.MarkdownView__active {
	background: color-mix(in srgb, var(--accent), transparent 90%);
	border-color: var(--border);
}

.MarkdownView__disabled {
	cursor: default;
}

.MarkdownView__editable:empty::before {
	content: attr(data-placeholder);
	color: var(--muted);
	pointer-events: none;
}

.MarkdownView :is(h1, h2, h3, h4, h5, h6) {
	margin: var(--space-3) 0 var(--space-3);
}

.MarkdownView :is(h1, h2, h3, h4, h5, h6):first-child {
	margin-top: 0;
}

.MarkdownView :is(ul, ol)+:is(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--space-4);
}

.EditableField p {
	margin: 0;
}

.MarkdownView ul {
	margin: 0 0 var(--space-2);
	padding-left: 0;
	list-style-type: none;
}

.MarkdownView ol {
	margin: 0 0 var(--space-2);
	padding-left: var(--space-4);
	list-style-type: decimal;
}

.MarkdownView :is(ul, ol):last-child {
	margin-bottom: 0;
}

.MarkdownView ul li:not(:last-child) {
	margin-bottom: var(--space-1);
}

.MarkdownView ol li:not(:last-child) {
	margin-bottom: var(--space-1);
}

.MarkdownView ul li {
	gap: var(--space-1);
}

.MarkdownView ul li:before {
	content: '-';
	font-weight: 600;
	margin-right: var(--space-1);
}

.MarkdownView:hover {
	background: color-mix(in srgb, var(--accent), transparent 90%);
	border-color: var(--border);
}

.MarkdownView p:last-child {
	margin-bottom: 0;
}

.mention_link {
	color: var(--accent);
	text-decoration: none;
	border-bottom: 1.5px solid color-mix(in srgb, var(--accent), transparent 20%);;
	cursor: pointer;
}

.EditableField__mention {
	cursor: text;
	position: relative;
	user-select: all;
}

.EditableField__tooltip {
	display: block;
	width: 100%;
	height: 100%;
}

.EditableField__tab {
	display: inline-block;
	width: 4ch;
	white-space: pre;
}

.EditableField__insertionMarker {
	display: inline-block;
	width: 0;
	overflow: hidden;
	pointer-events: none;
}
