.NoteCard {
    display: flex;
    flex-direction: column;
    background: color-mix(in srgb, var(--text-bright), transparent 97%);
    border: 1px solid color-mix(in srgb, var(--text-bright), transparent 90%);
    border-radius: var(--radius-sm);
    transition: all 0.2s ease;
    cursor: grab;
}

.NoteCard:hover {
    border-color: color-mix(in srgb, var(--text-bright), transparent 80%);
}

.NoteCard__header {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-2) var(--space-3);
    cursor: pointer;
    background: color-mix(in srgb, var(--text-bright), transparent 98%);
}

.NoteCard__simpleActions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-1);
    padding: var(--space-1) var(--space-2);
    z-index: 3;
}

.NoteCard__simplified .NoteCard__simpleActions {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.NoteCard__simplified:hover .NoteCard__simpleActions {
    opacity: 1;
}

.NoteCard.is_collapsed .NoteCard__simpleActions {
    position: static;
}

.NoteCard__actionButton.Button {
    height: var(--size-7);
    width: var(--size-7);
    min-height: var(--size-7);
    border-radius: 7px;
}

.NoteCard__actionButton_danger.Button {
    color: var(--danger);
    border-color: color-mix(in srgb, var(--danger), transparent 70%);
    padding: 0;
}

.NoteCard__simplified {
    position: relative;
}

.NoteCard__simplified .NoteCard__content .MarkdownView,
.NoteCard__simplified .NoteCard__content .Input {
    border-top-left-radius: var(--radius-sm);
    border-top-right-radius: var(--radius-sm);
}

.NoteCard__header .Button {
    height: var(--size-7);
    width: var(--size-7);
    padding: 0;
}

.NoteCard__title {
    flex: 1;
    font-weight: 600;
    font-size: 0.95rem;
}

.NoteCard__title .MarkdownView,
.NoteCard__title .Input {
    padding-right: 46px;
}

.NoteCard__title .Input {
    background: transparent;
    border: none;
    padding: 0;
    font-weight: inherit;
}

.NoteCard__content {
    flex-grow: 1;
    padding: 0;
}

.NoteCard__content .EditableField {
    height: 100%;
}

.NoteCard__content .MarkdownView,
.NoteCard__content .Input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100%;
}

.NoteCard.is_collapsed {
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: var(--space-3)
}
